@font-face {
    font-family: "iranSans";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/IRANSansWeb.woff") format("woff");
}

@font-face {
    font-family: "iranSans";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/IRANSansWeb_Bold.woff") format("woff");
}

body,
button{
    font-family: "iranSans";
}