/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* root variable */
:root {
    --color-primary: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondary-light: #fff6f2;
    --color-secondary-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-white: #fff;
    --color-body: #333333;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5rem
    }

    h2 {
        font-size: 3.5rem
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.block {
    padding: 4rem 2rem;
}

.block__heading {
    margin-top: 6rem;
}

@media screen and (min-width: 768px) {
    .block {
        padding: 6rem 2rem;
    }
}

/* Button */
.btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    white-space: nowrap;
    margin: 1rem 0;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn--secondary {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}

.btn--block {
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.6rem;
    }

    .btn--block {
        font-size: 2rem;
    }

}