<section class="container block">
    <h2 class="block__heading">تماس با ما</h2>
    <div class="contact-us">
        <div class="contact-us__social">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#linkedin"></use>
                </svg>
            </span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
                </svg>
            </span>
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
                </svg>
            </span>
        </div>
        <div class="contact-us__icons">
            <div class="icon-holder">
                <span class="icon-holder__label">IRAN , Tehran</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#Location"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">09190000000</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#Calling"></use>
                    </svg>
                </span>
            </div>
            <div class="icon-holder">
                <span class="icon-holder__label">info@gmail.com</span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="/assets/images/svg-sprite.svg#Message"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="contact-us__map">
            <img src="assets/images/map.png" alt="" />
        </div>
        <div class="contact-us__form">
            <div class="form-wrapper">
                <h3>نظرات شما</h3>
                <form>
                    <input type="text" placeholder="نام و نام خانوادگي">
                    <input type="email" placeholder="ايميل" dir="ltr">
                    <textarea name="" id="" cols="30" rows="10" placeholder="نظر خود را وارد کنيد"></textarea>
                    <button type="submit" class="btn btn--primary">ثبت نظر</button>
                </form>
            </div>
        </div>
    </div>
</section>