<footer class="main__footer">
    <div class="footer container">
        <div class="footer__item">
            <a href="#"><img src="assets/images/tapsi.svg" /></a>
            <h3>اپليکيشن درخواست خودرو و پيک</h3>
            <p>
                تمام حقوق مادی و معنوی این <br />
                وبسایت متعلق به تپسی است.
            </p>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسي</a>
            <a href="#">فرصت شفلي</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هويت سازماني</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسي</a>
            <a href="#">فرصت شفلي</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هويت سازماني</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسي</a>
            <a href="#">فرصت شفلي</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هويت سازماني</a>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <a href="#">وبلاگ تپسي</a>
            <a href="#">فرصت شفلي</a>
            <a href="#">تماس با ما</a>
            <a href="#">لوگو و هويت سازماني</a>
        </div>
        <div class="footer__item enemad">
            <div class="footer__enemad">
                <img src="assets/images/enemad.png" />
            </div>
            <div class="footer__enemad">
                <img src="assets/images/enemad.png" />
            </div>
            <div class="footer__enemad">
                <img src="assets/images/enemad.png" />
            </div>
        </div>
    </div>
</footer>
