<header class="main_header">
    <nav class="nav container">
        <a href="#">
            <img src="assets/images/logo.svg" alt="" />
        </a>
        <div class="nav__toggler">
            <div class="bar bar-one"></div>
            <div class="bar bar-two"></div>
            <div class="bar bar-three"></div>
        </div>
        <ul class="nav__list list">
            <li class="nav__item"><a href="#">پشتيباني</a></li>
            <li class="nav__item"><a href="#">خدمات کسب و کار</a></li>
            <li class="nav__item"><a href="#">فرصت هاي شغلي</a></li>
            <li class="nav__item"><a href="#">وبلاگ</a></li>
            <li class="nav__item cta">
                <a href="#" class="btn btn--primary btn--block">دانلود تپسی</a>
            </li>
        </ul>
    </nav>
</header>
