<section class="travell container">
    <div class="travell__slides">
        <div class="travell__slide">
            <div class="slide__image">
                <img src="assets/images/travell-2.jpg" alt="" />
            </div>
            <div class="slide__detail">
                <div class="slide__header">
                    <span class="badge badge--primary">ويژه</span>
                    <p>اقامت رايگان &bull; سفر سه روزه</p>
                </div>
                <p class="slide__text">سفر به قلب کوير لوت</p>
            </div>
        </div>
        <div class="travell__slide" style="background-color: blue">2</div>
        <div class="travell__slide" style="background-color: red">3</div>
    </div>
</section>
